* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  overflow-x: auto; /* Change to auto */
  overflow-y: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.section-1 {
  background-image: url(https://www.pixel4k.com/wp-content/uploads/2021/03/toyota-supra-need-for-speed-game-4k_1614865981.jpg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: start;
  min-width: 100vw;
  height: 100%;
}
h1 {
  margin-top: 15%;
  font-size: 10rem;
  -webkit-text-stroke: 2px white;
  color: transparent;
}
.section-1:nth-child(2) {
  background-image: url(https://4kwallpapers.com/images/wallpapers/porsche-911-gt3-cup-2022-sports-cars-3840x2160-7750.jpg);
}
.section-1:nth-child(3) {
  background-image: url(https://www.hdwallpapers.in/download/bugatti_chiron_super_sport_300_prototype_4k_5k_hd_cars-3840x2160.jpg);
}

.section-1:nth-child(4) {
  background-image: url(https://images.hdqwalls.com/wallpapers/bugatti-chiron-rear-4k-8p.jpg);
}
.section-1:nth-child(5) {
  background-image: url(https://www.supercars.net/blog/wp-content/uploads/2020/09/wallpaperflare.com_wallpaper-1-1.jpg);
}

.header {
  color: transparent;
  font-size: 1.8rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  position: fixed;
  top: 0%;
  z-index: 100;
  -webkit-text-stroke: 1px white;
}
.header span {
  color: cadetblue;
  margin-left: 2px;
  -webkit-text-stroke: 1px white;
}
nav a {
  margin-right: 15px;
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 0.5px white;
  font-size: 1.5rem;
  border-radius: 100% 100% 100%;
  transition: 500ms;
}
nav a:hover {
  font-size: 1.6rem;
  background-color: rgba(103, 171, 173, 0.815);
  color: white;
}
